[Unit]
Description=Hagrid Network Online
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStartPre=/usr/bin/bash /usr/bin/hagrid/services/live_mode_init.sh
ExecStart=/usr/bin/env python3 /usr/bin/hagrid/live_mode/live_mode.py